<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title mt-5 mb-5">A Simple Web App</h1>
    </div>
  </div>
  <!-- order  -->
  <div class="row">
    <div class="col-sm-12">
      <span class="title-order">Order By</span>
      <div class="dropdown">
        <button class="dropbtn">Select field to toggle sort </button>
        <div class="dropdown-content">
          <a href="#" [appSort]="usersList" name-order="sort" data-name="id">Id</a>
          <a href="#" [appSort]="usersList" name-order="sort" data-name="firstName">First Name (A-Z)</a>
          <a href="#" [appSort]="usersList" name-order="sort" data-name="lastName">Last Name (A-Z)</a>
          <a href="#" [appSort]="usersList" name-order="sort" data-name="gender">Gender (A-Z)</a>
          <a href="#" [appSort]="usersList" name-order="sort" data-name="email">Email (A-Z)</a>
          <a href="#" [appSort]="usersList" name-order="sort" data-name="birthday">Birthday (Sort Years)</a>
          <a href="#" [appSort]="usersList" name-order="sort" data-name="salary" name-type="date">Salary</a>
        </div>
      </div>
    </div>
  </div>
  <!-- data  -->
  <div class="row">
    <div class="col-sm-12">
      <!-- table-data  -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Birthday</th>
            <th scope="col">Salary</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersList">
            <th scope="row">{{user.id}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.birthday | customDate}}</td>
            <td>{{user.salary}}</td>
            <td>{{user.phone | customPhone:'-':''}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
