.dropbtn {
    background-color: white;
    color: black;
    padding: 5px 28px;
    font-size: 16px;
    border: 1px solid black;
    /* border: none; */
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 185px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 1;
  left: 9px;
  display: none;
}
.dropdown-content a {
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #dee2e6;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #dee2e6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
span.title-order {
  font-size: 20px;
  font-weight: bold;
}

/* end-dropdown  */
